/*Jason Fleischer*/
@media screen and (max-width:1000px) {
	#googleSearch{ display:none;}
}
@media screen and (min-width:1000px) {
	#callMe{ display:none;}
}
.pointer{ cursor:pointer;}
#pIemailMe{ padding-top:10px;}
#resourceobject{ width:100%; height:400px;}
#resume{ display:none;}
