/*Jason Fleischer*/
@media screen and (max-width:800px) {
	#subH1, #vCard, #pIemailMe, .hide-mobile, i{ display:none; }
	#email{ font-size: 16px; padding-top:2px;}  
	#residence{ font-size: 14px; padding-top:6px;}
}
@media screen and (min-width:1000px) {
	#callMe{ display:none;}
	.indent{ text-indent:40px;}
}
body{ 	
	background-color: white;/* For browsers that do not support gradients */    
  
    background-attachment: fixed; 
	background-image: url('../img/IMG3.JPG'); 
	background-repeat: no-repeat; 
	background-position: right top; 
	background-size:cover;
}

#pIemailMe{ padding-top:10px;}
#resourceobject{ width:100%; height:600px;}
#resume{ display:none;}
#content{ max-width:1000px; margin-top:20px; }
#subH1{ color: #EEE; }
#contactInfo{ font-size:18px; }
#git, #fbM, #resumeM{ padding: 0px 20px 0px 20px  !important; }
#home{ padding-right: 25px  !important; }
#personalInfo{ margin: 0px 5px 0px 5px;}
#name{ font-size:25px; }
.pointer{ cursor:pointer; }
.large{ font-size:18px; }
.panel-default { border-color: #000 !important; }
.banner{
	/*background-image:url('../img/banner.jpg'); background-repeat: no-repeat;*/
	background-color: rgba(0,0,0,0.3) !important;
	margin: 0px  0px 0px 0px !important;
	color: #FFF !important;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	text-shadow: 1px 1px #000000;
}
